# rio functions to export
export(convert)
export(export)
export(import)
export(gather_attrs)
export(.export)
export(.import)

# S3 .import Methods
S3method(.import, rio_r)
S3method(.import, rio_tsv)
S3method(.import, rio_txt)
S3method(.import, rio_fwf)
S3method(.import, rio_rds)
S3method(.import, rio_csv)
S3method(.import, rio_csv2)
S3method(.import, rio_csvy)
S3method(.import, rio_feather)
S3method(.import, rio_psv)
S3method(.import, rio_rdata)
S3method(.import, rio_dta)
S3method(.import, rio_dbf)
S3method(.import, rio_dif)
S3method(.import, rio_sav)
S3method(.import, rio_sas7bdat)
S3method(.import, rio_xpt)
S3method(.import, rio_mtp)
S3method(.import, rio_syd)
S3method(.import, rio_json)
S3method(.import, rio_rec)
S3method(.import, rio_arff)
S3method(.import, rio_xls)
S3method(.import, rio_xlsx)
S3method(.import, rio_fortran)
S3method(.import, rio_ods)
S3method(.import, rio_xml)
S3method(.import, rio_yml)
S3method(.import, rio_clipboard)

# S3 .export Methods
S3method(.export, rio_txt)
S3method(.export, rio_tsv)
S3method(.export, rio_csv)
S3method(.export, rio_csv2)
S3method(.export, rio_csvy)
S3method(.export, rio_feather)
S3method(.export, rio_psv)
S3method(.export, rio_fwf)
S3method(.export, rio_r)
S3method(.export, rio_dump)
S3method(.export, rio_rds)
S3method(.export, rio_rdata)
S3method(.export, rio_sav)
S3method(.export, rio_dta)
S3method(.export, rio_dbf)
S3method(.export, rio_json)
S3method(.export, rio_arff)
S3method(.export, rio_xlsx)
S3method(.export, rio_xml)
S3method(.export, rio_yml)
S3method(.export, rio_clipboard)

# utility functions to import
importFrom(tools, file_ext)
importFrom(stats, na.omit, setNames)
importFrom(utils, installed.packages, untar, unzip, tar, zip, type.convert, capture.output)
importFrom(urltools, url_parse)
importFrom(yaml, yaml.load, as.yaml)
importFrom(curl, curl_download, curl_fetch_memory, parse_headers)

# import and export functions from other packages
importFrom(data.table, fread) #, fwrite)
importFrom(haven, read_dta, read_sav, read_sas)
importFrom(haven, write_sav, write_dta)
importFrom(haven, as_factor)
importFrom(foreign, read.dbf, read.mtp, read.systat, read.epiinfo, read.arff, read.xport)
importFrom(foreign, read.dta, read.spss)
importFrom(foreign, write.dbf, write.arff)
importFrom(feather, write_feather, read_feather)
importFrom(utils, read.table, read.csv, read.fwf, read.DIF, read.fortran)
importFrom(utils, write.table, write.csv)
importFrom(readODS, read.ods, getNrOfSheetsInODS)
importFrom(xml2, read_xml, read_html, as_list)
importFrom(jsonlite, fromJSON, toJSON)
importFrom(openxlsx, read.xlsx, write.xlsx)
importFrom(readxl, read_excel)
importFrom(readr, read_fwf, fwf_empty, fwf_widths, fwf_positions)
