export(convert)
export(export)
export(import)
importFrom(tools, file_ext)
importFrom(data.table, fread)
importFrom(haven, read_dta, read_sav, read_por, read_sas)
importFrom(haven, write_sav, write_dta)
importFrom(foreign, read.dbf, read.mtp, read.systat, read.epiinfo, read.arff, read.xport)
importFrom(foreign, write.dbf, write.arff)
importFrom(utils, read.table, read.csv, read.fwf, read.DIF, read.fortran)
importFrom(utils, write.table, write.csv)
importFrom(jsonlite, fromJSON, toJSON)
importFrom(openxlsx, read.xlsx, write.xlsx)
importFrom(curl, curl_download)
importFrom(readODS, read.ods, getNrOfSheetsInODS)
